*{
    margin:0;
    padding:0;
    box-sizing: border-box;





} 


.main-container{
max-width: 1600px;
margin: 0 auto;

nav{
    background-color: darkblue;
    padding: 2rem;
    font-size: 2rem;
}
footer{
background-color: darkblue;
padding: 4rem;
}
}